* {
  border-radius: 0 !important;
}

.link_login_signup{
  color:  #3FC060;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}


a:visited{
  color: #3FC060;
}
.link_login_signup:hover{
  color: #3FC060;
}